<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<body>
<div layout:fragment="content">

    <div class="container-xl">
        <div class="d-flex flex-row justify-content-between">
            <div class="col-auto">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                     aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/post/}"><span class="app-page-title">Post</span></a>
                        </li>
                        <li class="breadcrumb-item"><a th:href="@{/post/detail/{id}(id=${echange.post.id})}"><span class="app-page-title">Détail</span></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"><span
                                class="app-page-title">Échange</span></li>
                    </ol>
                </nav>
            </div>


        </div>


        <div class="row mt-4">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 ><i class="fa fa-user"></i><span class="card-title" th:text="${echange.responder.username}" ></span></h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${#temporals.format(echange.createdAt, 'dd MMMM yyyy')}">Card subtitle</h6>
                        <p class="card-text" th:text="${echange.description}"> Some quick example text to build on the card
                            title and make up the bulk of the card's content.</p>
                        <h6 class="app-page-title"  >Objets proposés</h6>
                        <div id="objets" class="row mt-3 g-4 d-flex flex-row flex-wrap">

                            <div th:each="details : ${echangeDetails}" class="col-6 col-md-6 col-xl-4 col-xxl-4">
                                <div class="app-card app-card-doc shadow-sm  h-100">
                                    <div class="app-card-thumb-holder p-3">
                                        <div class="app-card-thumb">
                                            <img class="thumb-image" th:src="${details.image}" alt="">
                                        </div>

                                    </div>
                                    <div class="app-card-body p-3 has-card-actions">

                                        <h4 class="app-doc-title truncate mb-0"><a th:href="@{/objet/detail/{id}(id=${details.objet.id})}" th:text="${details.objet.nom}">Nom</a></h4>
                                        <div class="app-doc-meta">
                                            <ul class="list-unstyled mb-0">
                                                <li><span class="text-muted">Catégorie:</span> <span th:text="${details.objet.categorie.nom}" ></span></li>
                                            </ul>
                                        </div>



                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

</body>

</html>