.tags a {
    display: inline-block !important;
    height: 24px;
    line-height: 23px;
    position: relative !important;
    margin: 0 12px 8px 0;
    padding: 0 12px 0 10px;
    background: #777;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 12px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.tags a:before {
    content: "";
    position: absolute !important;
    top: 10px;
    right: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
}

.tags a:after {
    content: "";
    position: absolute !important;
    top: 0;
    right: -12px;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #777;
    border-style: solid;
    border-width: 12px 0 12px 12px;
}

.tags a.color1 {
    background: #052659;
}

.tags a.color1:after {
    border-color: transparent transparent transparent #052659
}

.tags a.color2 {
    background: #5483B3;
}

.tags a.color2:after {
    border-color: transparent transparent transparent #5483B3
}

.tags a.color3 {
    background: #7da0ca;
}

.tags a.color3:after {
    border-color: transparent transparent transparent #7da0ca
}

.tags a.color4 {
    background: #C1E8FF;
}

.tags a.color4:after {
    border-color: transparent transparent transparent #C1E8FF
}

.tags a.color5 {
    background: #5381B2;
}

.tags a.color5:after {
    border-color: transparent transparent transparent #5381B2
}

.tags a:hover {
    background: #222 !important
}

.tags a:hover:after {
    border-color: transparent transparent transparent #222 !important
}