<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<body>
<div layout:fragment="content">

    <div class="container-xl">
        <div class="d-flex flex-row justify-content-between">
            <div class="col-auto" >
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/utilisateur/}"><span class="app-page-title">Utilisateur</span></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><span class="app-page-title">Détail</span></li>
                    </ol>
                </nav>
            </div>


        </div>



        <div class="row mt-4">
            <div class="col-md-6">
                <div class="d-flex flex-row justify-content-between" >
                    <div><strong>Id: </strong></div>
                    <div><span th:text="${utilisateur.id}" ></span></div>
                </div>
                <div class="d-flex flex-row justify-content-between mt-3" >
                    <div><strong>Nom: </strong></div>
                    <div><span th:text="${utilisateur.username}" ></span></div>
                </div>

                <div class="d-flex flex-row justify-content-between mt-3" >
                    <div><strong>Email: </strong></div>
                    <div><span th:text="${utilisateur.email}" ></span></div>
                </div>

                <div class="d-flex flex-row justify-content-between mt-3" >
                    <div><strong>Date de naissance: </strong></div>
                    <div><span th:text="${utilisateur.birthday}" ></span></div>
                </div>
                <div class="d-flex flex-row justify-content-between mt-3" >
                    <div><strong>Date de création: </strong></div>
                    <div><span th:text="${utilisateur.createAt}" ></span></div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>

</html>