<!-- Navbar for NFT Marketplace demo -->
<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page. -->
<div (window:scroll)="windowScroll()" id="home">
  <header
    class="navbar d-block navbar-sticky navbar-expand-lg navbar-light bg-light w-100"
  >
    <div class="container">
      <a class="navbar-brand d-none d-sm-block me-4 order-lg-1" routerLink="/">
        <img src="assets/img/logo-dark.png" width="142" alt="Exchange Object" />
      </a>
      <a class="navbar-brand d-sm-none me-2 order-lg-1" routerLink="/">
        <img src="assets/img/logo-icon.png" width="74" alt="Exchange Object" />
      </a>
      <div class="navbar-toolbar d-flex align-items-center order-lg-3">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon" (click)="collapse.toggle()"></span>
        </button>
        <a
          class="navbar-tool d-none d-lg-flex"
          href="javascript:void(0)"
          data-bs-toggle="collapse"
          data-bs-target="#searchBox"
          role="button"
          aria-expanded="false"
          aria-controls="searchBox"
        >
          <span class="navbar-tool-tooltip">Search</span>
          <div class="navbar-tool-icon-box" (click)="collapse.toggle()">
            <i class="navbar-tool-icon ci-search"></i>
          </div>
        </a>
        <a
          class="navbar-tool ms-lg-2 account"
          href="javascript:void(0);"
          data-bs-toggle="modal"
          (click)="openModal(content)"
        >
          <span class="navbar-tool-tooltip">Account</span>
          <div class="navbar-tool-icon-box">
            <i class="navbar-tool-icon ci-user"></i>
          </div>
        </a>
        <div ngbDropdown class="navbar-tool dropdown ms-lg-3 ms-2 user">
          <a
            class="navbar-tool-icon-box d-inline-block w-auto h-auto dropdown-toggle mt-n1"
            routerLink="/setting"
            ngbDropdownToggle
          >
            <img
              class="rounded-circle"
              src="assets/img/nft/vendor/avatar-sm.png"
              width="36"
              alt="User"
              id="user_profile"
            />
          </a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <div style="min-width: 14rem">
              <h6 class="dropdown-header">&#64;foxnet_creator</h6>
              <a
                class="dropdown-item d-flex align-items-center"
                routerLink="/setting"
              >
                <i class="ci-settings opacity-60 me-2"></i>Profile Settings
              </a>
              <a
                class="dropdown-item d-flex align-items-center"
                routerLink="/myitem"
              >
                <i class="ci-image opacity-60 me-2"></i>My Items
                <span class="fs-xs text-muted ms-auto">5</span>
              </a>
              <a
                class="dropdown-item d-flex align-items-center"
                routerLink="/mycollection"
              >
                <i class="ci-view-list opacity-60 me-2"></i>My Collections
                <span class="fs-xs text-muted ms-auto">2</span>
              </a>
              <a
                class="dropdown-item d-flex align-items-center"
                routerLink="/notification"
              >
                <i class="ci-bell opacity-60 me-2"></i>Notifications
              </a>
            </div>
          </div>
        </div>

        <a
          class="btn btn-sm btn-accent rounded-1 ms-lg-4 ms-3 create"
          routerLink="/createnewitem"
          >Create</a
        >
      </div>
      <div
        #collapse="ngbCollapse"
        [(ngbCollapse)]="isCollapsed"
        class="collapse navbar-collapse me-auto order-lg-2"
        id="navbarCollapse"
      >
        <!-- Search (mobile) -->
        <div class="d-lg-none py-3">
          <div class="input-group">
            <i
              class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"
            ></i>
            <input
              class="form-control rounded-start"
              type="text"
              placeholder="What do you need?"
            />
          </div>
        </div>
        <!-- Primary menu -->
        <ul class="navbar-nav" id="navbar-nav">
          @for(item of menuItems;track $index){ @if(item.isTitle){
          <li class="nav-item">
            <a
              class="nav-link sublink"
              routerLink="/"
              routerLinkActive
              (click)="updateActive($event)"
            >
              {{ item.label }}
            </a>
          </li>
          } @else{
          <li ngbDropdown class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle sublink"
              data-bs-toggle="dropdown"
              ngbDropdownToggle
            >
              {{ item.label }}
            </a>
            <ul ngbDropdownMenu class="dropdown-menu">
              @for(subitem of item.subItems;track $index){
              <li>
                <a
                  class="dropdown-item sublink"
                  [routerLink]="subitem.link"
                  (click)="updateActive($event)"
                >
                  {{ subitem.label }}
                </a>
              </li>
              }
            </ul>
          </li>
          } }
        </ul>
      </div>
    </div>
    <!-- Search collapse -->
    <div
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsed"
      class="search-box collapse"
      id="searchBox"
    >
      <div class="container py-2">
        <div class="input-group">
          <i
            class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"
          ></i>
          <input
            class="form-control rounded-start"
            type="text"
            placeholder="What do you need?"
          />
        </div>
      </div>
    </div>
  </header>
</div>

<!-- Sign in / sign up modal-->
<!-- Sign in / sign up modal-->
<ng-template #content role="document" let-modal>
  <div class="modal-content">
    <div class="modal-header bg-secondary">
      <ul
        ngbNav
        #nav="ngbNav"
        [activeId]="1"
        class="nav nav-tabs card-header-tabs"
        role="tablist"
      >
        <li class="nav-item" [ngbNavItem]="1">
          <a
            ngbNavLink
            class="nav-link fw-medium"
            href="javascript:void(0);"
            data-bs-toggle="tab"
            role="tab"
            aria-selected="true"
            ><i class="ci-unlocked me-2 mt-n1"></i>Sign in</a
          >
          <ng-template ngbNavContent>
            <form
              (ngSubmit)="signin()"
              [formGroup]="formData"
              class="needs-validation tab-pane fade show"
              id="signin-tab"
            >
              <div class="mb-3">
                <label class="form-label" for="si-email">Email address</label>
                <input
                  class="form-control"
                  type="email"
                  id="si-email"
                  placeholder="johndoe@example.com"
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid': submitted && form['email'].errors
                  }"
                />
                <div *ngIf="submitted && form['email'].errors" class="invalid-feedback">
                  <span *ngIf="form['email'].errors['required']">Please provide a valid email address.</span>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="si-password">Password</label>
                <div class="password-toggle">
                  <input
                    class="form-control"
                    [type]="fieldTextType ? 'text' : 'password'"
                    id="si-password"
                    formControlName="password"
                    [ngClass]="{
                      'is-invalid': submitted && form['password'].errors
                    }"
                  />
                  <div *ngIf="submitted && form['password'].errors" class="invalid-feedback">
                    <span *ngIf="form['password'].errors['required']">Please provide a valid password.</span>
                  </div>
                  <label
                    class="password-toggle-btn"
                    aria-label="Show/hide password"
                  >
                    <input class="password-toggle-check" type="checkbox" /><span
                      class="password-toggle-indicator"
                      [ngClass]="
                        fieldTextType
                          ? 'mdi-eye-off-outline'
                          : 'mdi-eye-off-outline'
                      "
                      (click)="toggleFieldTextType()"
                    ></span>
                  </label>
                </div>
              </div>
              <div class="mb-3 d-flex flex-wrap justify-content-between">
                <div class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="si-remember"
                  />
                  <label class="form-check-label" for="si-remember">Remember me</label>
                </div>
                <a class="fs-sm" href="javascript:void(0);">Forgot password?</a>
              </div>
              <button
                class="btn btn-primary btn-shadow d-block w-100"
                type="submit"
              >
                Sign in
              </button>
            </form>
          </ng-template>
        </li>
        <li class="nav-item" [ngbNavItem]="2">
          <a
            ngbNavLink
            class="nav-link fw-medium"
            href="javascript:void(0);"
            data-bs-toggle="tab"
            role="tab"
            aria-selected="false"
            ><i class="ci-user me-2 mt-n1"></i>Sign up</a
          >
          <ng-template ngbNavContent>
            <form
              (ngSubmit)="signup()"
              [formGroup]="signupformData"
              class="needs-validation tab-pane fade show"
              autocomplete="off"
              novalidate
              id="signup-tab"
            >
              <!-- Signup form fields go here -->
            </form>
          </ng-template>
        </li>
      </ul>
      <button
        class="btn-close"
        type="button"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="modal.close('close click')"
      ></button>
    </div>
    <div class="modal-body tab-content py-4">
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</ng-template>


<!-- Toolbar for handheld devices (NFT Marketplace)-->
<div class="handheld-toolbar">
  <div class="d-table table-layout-fixed w-100">
    <a
      class="d-none handheld-toolbar-item"
      href="#vendor-sidebar"
      data-bs-toggle="offcanvas"
    >
      <span class="handheld-toolbar-icon"><i class="ci-sign-in"></i></span
      ><span class="handheld-toolbar-label">Sidebar</span></a
    >
    <a
      class="d-table-cell handheld-toolbar-item"
      href="javascript:void(0);"
      data-bs-toggle="modal"
      (click)="openModal(content)"
    >
      <span class="handheld-toolbar-icon">
        <i class="ci-user"></i>
      </span>
      <span class="handheld-toolbar-label">Account</span>
    </a>
    <a
      class="d-table-cell handheld-toolbar-item"
      href="javascript:void(0)"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      onclick="window.scrollTo(0, 0)"
      (click)="collapse.toggle()"
    >
      <span class="handheld-toolbar-icon">
        <i class="ci-menu"></i>
      </span>
      <span class="handheld-toolbar-label">Menu</span>
    </a>
    <a
      class="d-table-cell handheld-toolbar-item connectwallet"
      routerLink="/connectwallet"
    >
      <span class="handheld-toolbar-icon">
        <i class="ci-wallet"></i>
      </span>
      <span class="handheld-toolbar-label text-nowrap">Connect wallet</span>
    </a>
    <a
      class="d-table-cell handheld-toolbar-item craeteitem"
      routerLink="/createnewitem"
    >
      <span class="handheld-toolbar-icon">
        <i class="ci-add"></i>
      </span>
      <span class="handheld-toolbar-label">Create item</span>
    </a>
  </div>
</div>
