<!-- Header -->
<app-header></app-header>
<!-- Page title-->
<div class="bg-accent mb-4 py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                    <li class="breadcrumb-item"><a class="text-nowrap" routerLink="/"><i class="ci-home"></i>Home</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap"><a routerLink="/">Exchage objects</a>
                    </li>
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">Creer un nouveau objet</li>
                </ol>
            </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
            <h1 class="h3 text-light mb-0">Creer un nouveau objet</h1>
        </div>
    </div>
</div>
<!-- Page content-->
<section class="container mb-5 pt-3 pb-md-5 pb-1">
    <div class="row gy-5">
        <form class="needs-validation col-md-8" (ngSubmit)="createitem()" [formGroup]="itemData" novalidate>
            <!-- Upload file-->
            <div class="mb-md-5 mb-4 pb-md-0 pb-2">
                <h2 class="h5 mb-2 pb-1">Photo de l'objet</h2>
                <p class="mb-4 fs-sm">Fichiers supportés: PNG, JPG, GIF, WEBP, MP3 or MP4. Max size: 5mb.</p>
                <!-- Drag and drop file upload-->
                <ngx-dropzone class="file-drop-area" (change)="onSelect($event)">
                    <ngx-dropzone-label>
                        <div class="file-drop-icon ci-cloud-upload"></div>
                        <span class="file-drop-message">Drag and drop ici pour uploader</span>
                    </ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files; trackBy: trackByFn" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>

            </div>
            <!-- Details-->
            <div class="mb-md-5 mb-4 pb-md-0 pb-2">
                <h2 class="h5 mb-3">Details</h2>
                <div class="row gy-md-4 gy-3">
                    <div class="col-12">
                        <label class="form-label" for="details-title">Nom de l'objet<span class="ms-1 text-danger">*</span></label>
                        <input class="form-control" id="details-title" type="text" formControlName="title" placeholder="Nom de l'objet" required [ngClass]="{ 'is-invalid': submitted && form['title'].errors }">
                        <div class="invalid-feedback">SVP, entrez le nom.</div>
                        <span class="form-text">Maximum 100 caractères. No HTML or emoji allowed.</span>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label" for="details-category">Category</label>
                        <select class="form-select" id="details-category" formControlName="category">
                            <option disabled selected>Chpoisir la catégorie</option>
                            <option *ngFor="let category of categories" [value]="category.categorie_id">{{ category.nom }}</option>
                        </select>
                    </div>
                   
                    <div class="col-12">
                        <label class="form-label" for="details-description">Description</label>
                        <textarea class="form-control" id="details-description" rows="4" placeholder="Entrez une courte description de l'objet" formControlName="description"></textarea>
                        <span class="form-text">0 à 500 caractères.</span>
                    </div>
                </div>
            </div>
            <!-- Submit button-->
            <div>
                <div class="pt-2">
                    <button class="btn btn-lg btn-accent d-block w-100" type="submit" [disabled]="isSubmitting">
                        <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span *ngIf="!isSubmitting">Creer l'objet</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Footer -->
<app-footer></app-footer>
